$primary-color: red;
$secondary-color: blue;
$third-color: green;
$letter-color-1: grey;
$letter-color-2: khaki;
$letter-color-3: violet;
$i: 1;


@mixin darkenAndLigthen($color) {
  @while $i <= 4 {
    $amount: 5% * $i;
    .darken-#{$i} {
      background-color: darken($color, $amount);
      
    }
    .lighten-#{$i} {
      background-color: lighten($color, $amount);
    }
    $i: $i + 1;  
  }
}

body {
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  gap: 15px;
  grid-template: repeat(3, 1fr) / 1fr;
}

.container-1 {
  display: flex;
  gap: 5px;

  .box {
    height: 64px;
    width: 64px;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: $letter-color-1;
  }
  
    @include darkenAndLigthen($primary-color);
  
  .base-color {
    background-color:$primary-color;
    width: 72px;
    color: white;
  }
  
}

.container-2 {
  @extend .container-1;

  .box {
    color: $letter-color-2;

  }
@include darkenAndLigthen($secondary-color);
  
  .base-color {
    background-color:$secondary-color;
    color: white;
  
  }
}
.container-3 {
  @extend .container-1;

  .box {
   color: $letter-color-3;
  }
 @include darkenAndLigthen($third-color);
 

  .base-color {
    background-color:$third-color;
    color: white;
  }
}
